{% extends "base.html" %}
{% from "functions.html" import buildCarousel with context %}
{% set title = name %}

{% block body %}
<div class="container">
    <h3>{{ name }}</h3>
    &nbsp;
    <a class="btn btn-primary" href="{{ dl }}">download</a>
    <hr/>
    <div class="row">
        <div class="col-md">
            <h4>screenshots</h4>
            {{ buildCarousel("image", images, style="width: 30%;") }}
        </div>
        <div class="col-md">
            <h4>description</h4>
            <p>{{ description }}</p>
        </div>
    </div>

</div>
{% endblock %}