<div class="alert text-center" role="alert">
    this site might use <a data-toggle="tooltip" data-placement="top" title="cookies">&#x1F36A;</a> for user experience reasons. <a href="https://cookiesandyou.com/" target="_blank">what are cookies?</a><br>
    <b>if you continue to stay on this page, you accept that.</b>
</div>

<script async src="/js/jquery.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"></script>
<script async src="/js/popper.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"></script>
<script async src="/js/bootstrap.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"></script>