<!DOCTYPE html>
<html lang="de_DE">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="author" content="Pascal Eberlein">
    <meta name="description" content="Website of Pascal Eberlein">
    <meta name="keywords" content="Website, Pascal Eberlein">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/jquery.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"></script>
</head>