{% from "functions.html" import buildMenu, buildNavDropdown with context %}
<div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <a class="navbar-brand" href="/index">eberlein.io</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ buildMenu() }}
                {{ buildNavDropdown("apps", "apps", apps, "/apps", "/apps/") }}
                <li class="nav-item"><a class="nav-link" href="{{ github_url }}">github</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ build_server }}">build</a></li>
            </ul>
        </div>
    </nav>
</div>